.App {
  text-align: center;
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* Prevents .App from scrolling */
}

.header {
  margin: 20px 0;
  flex-shrink: 0; /* Prevents header from shrinking */
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto; /* Allows .main to scroll */
  padding: 20px;
  gap: 20px;
  flex-grow: 1; /* Ensures .main takes remaining space */
  max-height: calc(100vh - 100px); /* Adjust based on the height of the header */
}

.card-container {
  flex: 1 1 calc(33% - 40px); /* Flex-basis set to 33% minus the gap */
  box-sizing: border-box;
  padding: 10px;
  max-width: 345px; /* Ensure max-width for responsive design */
}

@media (max-width: 768px) {
  .card-container {
    flex: 1 1 calc(50% - 40px); /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .card-container {
    flex: 1 1 calc(100% - 40px); /* Adjust for mobile screens */
  }
}
